<div class="text-center">
  <div class="center">
    <h1>Welcome, <%= current_user.first_name %>!</h1><br>
  </div>

    <div class="logo">
      <%= image_tag ("/../assets/logo.png"), alt: "pre-k logo" %><br><br>
    </div>

    <div class="center">
      <%= link_to 'New Teacher? Register an account here', teachers_register_path, { id: current_user.id } %><br><br>
    <%= link_to 'New Parent? Register an account here', '/parents/new', {:action=>"new", :controller=>"parents", id: current_user.id} %>
  </div>
</div>
